@*@{
    ViewData["Title"] = "About";
}*@
<h2 style="display:none">@ViewData["Title"]</h2>


<div style="display:list-item">
    <h2>This is our project made by Mohamed Farag, Omar Elsafty</h2>
    <h3>All Rights Reserved </h3>
</div>


